body{
    margin:0px;
    border:0px;
    padding:0px;
    background-color: rgb(248, 245, 217);
}

body h1{
    font-family: 'Do Hyeon', sans-serif;
    font-family: 'Gugi', cursive;
}

.container{
    width:960px;
    margin:0 auto;
}

/* nav bar style */
nav{
    height:50px;
    background-color:rgb(245, 222, 188);
    color:black;
    font-family:'Merriweather', serif;
}

nav h1{
    float:left;
    font-size:28px;
    line-height:180%;
    margin:0;
}

nav ul{
    list-style-type:none;
    display:inline;
}

nav ul a{
    float:right;
    text-decoration:none;
    width:60px;
    line-height:50%;
    color:grey;
}

nav ul a:hover{
    color:grey;
}

/* header */
header{
    background-image: url('img/home.png');
    background-size:100% 100%;
    height:400px;
}

#self_content{
    margin:0px 10px 10px 100px;
    text-align:left;
    
}

header h1{
    margin-top:0px;
    padding-top:80px;
    color:orangered;
    font-weight: bold;
    font-family: 'Do Hyeon', sans-serif;
    font-family: 'Gugi', cursive;
}

header p{
    color:rgba(250, 116, 7, 0.829);
    font-size: 130%;
    font-family: 'Do Hyeon', sans-serif;
}

/* article */
section{
    font-family: 'Nanum Myeongjo', serif;
}

.section_img{
    width: 300px;
    float:left;
    margin:50px 10px 40px 10px;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 130%;
}

section h2{
    text-align:center;
    font-family: 'Do Hyeon', sans-serif;
    font-family: 'Gugi', cursive;
}
section p{
    text-align:center;
    font-family: 'Do Hyeon', sans-serif;
}
.section02{
    margin-bottom:100px;
    text-align: center;
}

.section3{
    text-align: center;
}

/* footer */
footer{
    background-color: navajowhite;
    font-family: 'Nanum Myeongjo', serif;
    text-align:center;
    padding-top:30px;
    padding-bottom:30px;
}